

:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(77, 76, 76);
    text-align: center;
    color: white;
  }
  
  .body_contact {
    background: linear-gradient(40deg, rgb(13, 78, 139), rgb(110, 208, 211));
    margin-top: 300px;
  }

  img {
    float: left;
    width: 100px;
  }
  
  /*media quary */
  @media only screen and (min-width: 600px)  {
    img{width: 150px;}
  }

  #ns{
    width: 60px;
    height: 60px;
  }

  /* Navigation */
  
  .container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  .navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
  }
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }

  /* BANNER */

  h1 {
    color: rgb(196, 76, 28);
    font-size: 2rem;
    text-transform: capitalize;
  }
  
  #h1_hello {
    color: rgb(87, 87, 87);
    font-size: 1.5rem;
  }
  
  #h1_main,
  #h1_hello,
  .h1_h3 {
    margin-right: auto;
    margin-left: 40%;
    float: left;
  }
  
  .one {
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(to bottom right, rgb(5, 129, 129), pink);
    position: relative;
    z-index: -1;
  }
  .img_me{
    margin: 2rem;
    position: absolute;
    z-index: 9;
    padding: 5px;
  }

  .img_me img{
    border-radius: 45%;
    width: 100px;
    height: auto;
    margin: 0.2rem 0;
  }

  .h1_h3{
    font-size: 1rem;
  }
  
  #h1_h3_mobile{
    display: block;
  }

  #h1_h3{
    display: none;
  }

  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
  }
  
  /* TITTLE FOR THE SECTIONS*/
  .h2_tittle {
    color: black;
    float: right;
    background-color: rgb(228, 120, 186);
    margin: 1rem 0;
    font-size: 1rem;
  }


  
  h3{
    font-size: 1.5rem;
  }
  
  p {
    text-align: justify;
    margin: 0.5rem;
    line-height: 1.6;
    font-size: 1rem;
  }

  #my_name {
    padding: 2rem 0;
  }

  @media only screen and (min-width: 600px)  {
    .img_me img{
      width: 150px;
      height: auto;
      margin: 1.5rem 0;
    }
    h1 {
      font-size: 4rem;
    }
    #h1_hello {
      font-size: 2.5rem;
    }
    .h1_h3{
      font-size: 1.5rem;
    }

    #h1_h3_mobile {
      display: none;
    }

    #h1_main,
    #h1_hello,
    .h1_h3 {
      text-align:center;
      margin-right: auto;
      margin-left: 30%;
      float: left;
    }

    #h1_h3{
      display: block;
    }

    .h2_tittle {
      font-size: 2rem;
    }
  }

  /* HOME BUTTON */

  .home {
    position: fixed;
    right: 0;
    bottom: 50px;
    background-color: aqua;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    font-size: 1rem;
  }

  @media only screen and (min-width: 600px)  {
    .home {
      font-size: 1.5rem;
      padding: 20px;
    }
  }

  /* ABOUT SECTION */

  #container_about{
    background-color: rgb(236, 235, 165);
    min-height: 6rem;
    min-width: 100%;
  }

  .visiblity__button {
    text-align: left;
    padding: 1rem;
    margin-right: auto;
    margin-left: 40%;
    color: black;
    font-size: 1rem;
  }
  
  .about_text {
    border: 3px solid yellow ;
  }
  
  #green {
    color: #1DBF73;
  }
  
  #blue{
    color: blue;
  }

  @media only screen and (min-width: 700px) {
    .visiblity__button{
      font-size: 2rem;
    }
  }

  .unvisible__text {
    display:block;
  }

  @media only screen and (min-width: 600px)  {
    .unvisible__text {
      display: none;
      padding: 1rem;
    }
    
    .visiblity__button:hover + .unvisible__text {
      display: flex;
    } 
  }

/*********************************************************** PRINCIPLES ****************************************************************/

.small_tag {
  text-align: center;
  padding: 0.25rem auto;
}

.content {
  margin: 1rem 0;
  border: 2px solid black;
  width: 100%;
  min-height: 250px;
  padding: 1rem;
}

#cat_text{
  margin: 10px auto 20px auto;
  position: absolute;
}

.container_principles{
  font-size: 0.8rem;
  margin: 1rem;
  padding: 1rem;
}

.chess{
  font-size: 1rem;
  margin: 2rem 1.5rem auto;
}


.cat {
  float: left;
  width: 30%;
  margin: 20px auto;
  padding: 2rem;
}

.life{
  display: flex;
}

h4{
  color: black;
}

.container2{
  background: linear-gradient(to bottom right, rgb(10, 68, 143), rgb(212, 220, 221));
  width: 100%;
}

.name-of-language{
  text-align: center;
  text-decoration: underline overline red 5px;
}

  /******** List for the work element ******/


  #work_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    }
  
    li {
    height: auto;
    width: 90%;
    list-style: none;
    opacity: 1;
    margin: 2rem 0.5rem;
    }

.work_img{
  width: 60%;
  height: auto;
  cursor: pointer;
}

/**************************** Contact ******************************/
  
  
  
.contact_us {
  background-color: powderblue;
  width: 100%;
  }
  
  .icon_main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 200px;
  } 
  
  .image_icon{
    max-width: 2rem;
    height: auto;
    padding: 2rem;
  }
  
  
  .ico{
    width: 3rem;
    height: auto;
  }

  @media only screen and (min-width: 600px)  {

    .icon_main{
      width: 90%;
      margin: 1rem auto;
      flex-direction: row;
    }
  }

/****************************************** Game - ROSHAMBO ****************************************/
.roshambo {
  margin: 2rem auto;
  background: linear-gradient(to bottom right, rgb(5, 129, 129), pink);
}

#winner{
  /*color: #f0e98a;*/

  font-size: 24px;
  text-align: center;
}

#player,
#bot{
  display: inline-block;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  color: #141c3a;
  font-size: 24px;
  text-align: center;
}

#roshamboButton{
  padding: 2rem;
  font-size: 16px;
  background: white;
  border: 5px solid #D0104C;
  border-radius: 5px;
  color: #141c3a;
  cursor: pointer;
}


  /***********************************************Fortune******************************************/
  
  .fortune {
    margin: 2rem auto;
    background: linear-gradient(to bottom right, rgb(0, 32, 13), rgb(49, 151, 8));
  }
  
  #fortune{
    color: #EFBB24;
    font-size: 24px;
    text-align: center;
  }
  
  #buttonContainer{
    width: fit-content;
    margin: auto;
  }
  
  #fortuneButton{
    padding: 2rem;
    font-size: 16px;
    background: white;
    border: 5px solid #D0104C;
    border-radius: 5px;
    color: #141c3a;
    cursor: pointer;
  }
  
  #space {
    margin: 3rem;
  }

  /*********************************************** Footer *********************************************/
  
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 3px;
    background-color: rgb(93, 7, 110);
    color: white;
    width: 100%;
    height: 60px;
  }
  
  #author,
  p #email,
  p #mobile {
    text-align: center;
  }
  
  #email,
  #mobile {
  color: aqua;
  }
  